{% extends 'base.html' %}
{% load static %}
{% block title %} Login Page {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="mx-auto" style="color: #D2D2D3; font-weight: bold; width: 820px; margin-top: 3%; margin-bottom: 5%; font-size: 64px;">Забыли пароль?/Изменить пароль</h1>

			<form class="login_form mx-auto">
			    <div class="container mx-auto form_fields">
				  <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="email" class="form-control form_field" id="inputEmail3" placeholder="Почта">
				    </div>
				  </div>
				  <div class="form-group row">
				    <div class="col-sm-10">
				      <input type="password" class="form-control form_field" id="inputName3" placeholder="ФИО">
				    </div>
				  </div>
				  <div class="container">
				  	<div class="col"></div>
				  </div>
				</div>
			  <div class="container">
			  	<div class="row form_btn">
				    <div class="col">
				      <a class="btn link" href="">Восстановить пароль</a>
				    </div>
				</div>
			</form>
		</div>
		<div class="col">
			<div class="confrim_code">
				<h4 class="mx-auto">Код восстановления</h4>
				<div class="form-group row">
				    <div class="col-sm-10 mx-auto">
				      <input type="code" class="form-control confrim_field" id="inputCode3" placeholder="Введите код с почты">
				    </div>
				</div>	
				<a href="#" class="mx-auto btn link">Подтвердить</a>
				<p class="text-justify text-center">После восстановления пароля вам будет отправлено письмо с новым случайно сгенерированным паролем</p> 
			</div>
		</div>
	</div>
</div>
{% endblock %}